<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClimaxApp Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ClimaxApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Promises (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Promises (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Promises (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA28665F2BD3AA9400DFE412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA28666F2BD3AA9700DFE412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2866792BD3AA9700DFE412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2866852BD3AA9700DFE412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2866972BD3AA9800DFE412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2866A12BD3AA9800DFE412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
